<mat-card>
  <form [formGroup]="editForm" *ngIf="!(loading$ | async)">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="name" placeholder="Jon Snow" matInput formControlName="name" required />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngFor="let error of editForm.get('name').errors | keyvalue | slice: 0:1">
          {{ error.key === 'required' ? 'Name is required' : '' }}
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          placeholder="jon.snow@gmail.com"
          matInput
          formControlName="email"
          required
        />
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error *ngFor="let error of editForm.get('email').errors | keyvalue | slice: 0:1">
          {{ error.key === 'email' ? 'Email format not valid' : '' }}
          {{ error.key === 'required' ? 'Email is required' : '' }}
          {{ error.key === 'emailTaken' ? 'Email is already taken' : '' }}
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of roles | enumToArray" [value]="role.key">
            {{ role.value | normalizeEnum | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let error of editForm.get('role').errors | keyvalue | slice: 0:1">
          {{ error.key === 'required' ? 'Role is required' : '' }}
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="contents">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!editForm.valid"
        (click)="edit()"
      >
        Update
      </button>
      <button mat-stroked-button routerLink="/users">Cancel</button>
    </mat-card-actions>
  </form>

  <div class="spinner" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
