<div class="container">
  <h2>What is it used for?</h2>
  <p>
    This application allows users to manage
    <a href="https://martinfowler.com/articles/feature-toggles.html" target="_blank" rel="noreferrer">Feature Toggles</a>
    for their applications. Other applications can then query this service to get
    <a href="/api/features" title="Features APIs">active features for customers</a>. The main idea
    is that someone with the role product manager can control the rollout of features to customers
    while developers continually work on new features that might not be in a finished state.
  </p>
</div>
