<mat-card>
  <form [formGroup]="signinForm">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="name" placeholder="Jon Snow" matInput formControlName="name" required/>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngFor="let error of signinForm.get('name').errors | keyvalue | slice: 0:1">
          {{ error.key === 'required' ? 'Name is required' : '' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" placeholder="jon.snow@gmail.com" matInput formControlName="email" required/>
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error *ngFor="let error of signinForm.get('email').errors | keyvalue | slice: 0:1">
          {{ error.key === 'email' ? 'Email format not valid' : '' }}
          {{ error.key === 'required' ? 'Email is required' : '' }}
          {{ error.key === 'emailTaken' ? 'Email is already taken' : '' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" placeholder="Use a strong password" matInput formControlName="password" required/>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error *ngFor="let error of signinForm.get('password').errors | keyvalue | slice: 0:1">
          {{ error.key === 'required' ? 'Password is required' : '' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of roles | enumToArray" [value]="role.key">
            {{ role.value | normalizeEnum | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let error of signinForm.get('role').errors | keyvalue | slice: 0:1">
          {{ error.key === 'required' ? 'Role is required' : '' }}
        </mat-error>
      </mat-form-field>

      <div class="spinner" *ngIf="loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
    </mat-card-content>

    <mat-card-actions class="contents">
      <button mat-raised-button color="primary" type="submit" [disabled]="!signinForm.valid" (click)="signin()">Save</button>
      <button mat-stroked-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
