<mat-drawer-container class="container" autosize>
  <!-- the main sidebar menu -->
  <mat-drawer #drawer class="sidenav" mode="side" *ngIf="loggedUser$ | async">
    <div class="logo">
      <span>Feature Toggle</span>
    </div>

    <div class="navbar">
      <ol class="application">
        <div *ngIf="authService.hasRole('SUPER_ADMIN') | async">
          <li><a routerLink="/users" title="List Users">Users</a></li>
          <li><a routerLink="/users/new" title="Create User">New user</a></li>
        </div>
        <li><a href="" title="">Customers</a></li>
        <li><a href="" title="">Features</a></li>
      </ol>

      <ol class="profile">
        <li><a href="" (click)="logout()" title="">Logout</a></li>
      </ol>
    </div>
  </mat-drawer>

  <!-- the main app container -->
  <div class="sidenav-content">
    <mat-toolbar *ngIf="loggedUser$ | async">
      <button
              mat-icon-button
              class="icon"
              aria-label="Chick to toggle the sidebar menu"
              (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
