<mat-drawer-container class="container" autosize>
  <!-- the main sidebar menu -->
  <mat-drawer #drawer class="sidenav" mode="side" *ngIf="loggedUser$ | async" opened="true">
    <div class="logo">
      <span>Feature Toggle</span>
      <p class="version">{{ appVersion }}</p>
    </div>
    <!-- the navigation component with the application routes -->
    <app-navbar></app-navbar>
  </mat-drawer>

  <!-- the main app container -->
  <div class="sidenav-content">
    <!-- the side component with the current route info -->
    <app-sidebar [drawer]="drawer" [sidebarTitle]="sidebarTitle"></app-sidebar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
