.inline {
  display: flex;

  .mat-form-field {
    width: 100%;

    &:last-child {
      margin-left: 0.5em;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
}
