<mat-card>
  <form [formGroup]="editForm">
    <mat-card-content>
      <div class="inline">
        <mat-form-field appearance="outline">
          <mat-label>Technical name</mat-label>
          <input
            type="name"
            placeholder="star_rating_feature"
            matInput
            formControlName="technicalName"
            required
          />
          <mat-error
            *ngFor="let error of editForm.get('technicalName').errors | keyvalue | slice: 0:1"
          >
            {{ error.key === 'required' ? 'Technical name is required' : '' }}
          </mat-error>
        </mat-form-field>

        <div class="center">
          <mat-slide-toggle formControlName="inverted">Is inverted?</mat-slide-toggle>
        </div>
      </div>

      <div class="inline">
        <mat-form-field appearance="outline">
          <mat-label>Display name</mat-label>
          <input
            type="name"
            placeholder="Star Rating Feature"
            matInput
            formControlName="displayName"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Expires on</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="expiresOn" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea rows="3" matInput #description maxlength="500"></textarea>
        <mat-hint align="start"
          ><strong>Include an optional description of the feature.</strong>
        </mat-hint>
        <mat-hint align="end">{{ description.value.length }} / 500</mat-hint>
      </mat-form-field>

      <!-- A selector chip list for assigning customer(s) -->
      <app-chip-list #chipList title="customer"></app-chip-list>

      <div class="spinner" *ngIf="loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
    </mat-card-content>

    <mat-card-actions class="contents">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="editForm.invalid"
        (click)="edit()"
      >
        Save
      </button>
      <button mat-stroked-button routerLink="/features">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
