mat-card {
  width: 320px;
  height: 310px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  vertical-align: middle;
  height: 100%;
}

a {
  text-decoration: none;
}

.mat-form-field {
  display: block;
  margin-top: 1em;
}

.mat-tab-label {
  font-size: 1.3em;
}

.button-container {
  margin-top: 1em;
  text-align: center;
}
