.mat-cell {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  .mat-icon-button {
    background-color: #f9f9f9;

    &:hover {
      background-color: #efefef;
    }
  }

  &.mat-column-id {
    width: 100px;
    flex: 0 0 100px;
  }
  &.mat-column-actions {
    width: 130px;
    flex: 0 0 130px;
    button {
      margin: 0 0 0 5px;

      .mat-icon {
        &[aria-label='Edit'] {
          color: #8787a2;
        }

        &[aria-label='Delete'] {
          color: #e69f9f;
        }
      }
    }
  }
}

.mat-header-cell {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  &.cdk-column-id {
    width: 100px;
    flex: 0 0 100px;
  }
  &.cdk-column-actions {
    flex: 0 0 130px;
    width: 130px;
  }
}
